<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SearchAndAddProductsSuite">
  <test name="SearchAndAddProductsTest">
	<!--<parameter name="browser" value="Mozilla"/>-->
	<parameter name="browser" value="Chrome"/>
	  <classes>
            <class name="SearchAndAddProducts"/>
        </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
	